# Git
.git
.github
.gitignore

# Node
node_modules

# Docker
.dockerignore
Dockerfile

# PNPM
pnpm-lock.yaml

# Biome
biome.json

# Dprint
dprint.json

# Lefthook
lefthook.yml

# Env
.env
.env.*

# Other
*.md
LICENSE
*.drawio
*.png
cache/
tests/
