# Node dependencies (recursive)
**/node_modules
**/.pnpm-store

# Build outputs (recursive)
**/dist
**/output
**/.output
**/.next
**/.open-next
**/.nuxt
**/.nitro
**/cache
**/.cache
**/.vitepress/cache

# Large assets
packages/contracts-cdn/public/
**/*.zip
**/*.tar.gz

# Moon/Git
.moon/cache
.git

# Logs
**/logs
**/*.log

# Misc
.DS_Store
.fleet
.idea
.wrangler
.env
.env.*
!.env.example


Dockerfile
Dockerfile.Container
